<div class="card" style="width: 25rem; background-color: gainsboro">
  <form class="row g-3 needs-validation" novalidate>

    <div class="col-md-4">
      <input class="form-control" id="validationCustom01" placeholder="Enter mission name..." type="text">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4">
      <input class="form-control" id="validationCustom02" required type="text" value="Otto">
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>

