<div
  [ngClass]="{'to-do-list-item--done': item?.isActive, 'to-do-list-item--not-done': !item?.isActive }"
  class="to-do-list-item flex"
>
  <div class="to-do-list-item--label">
    <strong>
      {{item?.label}}
    </strong>
  </div>
  <div>{{item?.description}}</div>
  <div class="to-do-list-item--buttons">
    <button (click)="doneClick()" *ngIf="!item?.isActive" class="btn btn-outline-primary" type="button">Done</button>
    <button (click)="notDoneClick()" *ngIf="item?.isActive" class="btn btn-outline-warning" type="button">Not Done
    </button>
    <button (click)="deleteClick()" class="btn btn-outline-dark to-do-list-item-delete--button" type="button">X</button>
  </div>
</div>
